.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 15px;
}

.left {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.copyright {
  color: white;

  a {
    color: white;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
