.container {
    display: block;
    padding: 20px;
    margin: 15px;
    background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  margin: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: center;
}

.loader {
  margin: 20px auto;
}
