.englishText {
  margin-bottom: 10px;
  display: flex;
  min-height: 40px;
  align-items: center;
}

.head {
  font-size: 16px;
}

.transText {
  margin-left: 10px;
}

.searchForm {
  :global {
    .ant-form-item {
      margin-bottom: 10px;
      max-width: 500px;
    }
  }
}


